@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Work Schedule</h1>

</div>

<h4>Change log: </h4>
<ul class="fa-ul">
    <li>
        2019-02-12
        <ul class="fa-ul">
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </li>
    <li>
        2019-02-11
        <ul class="fa-ul">
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </li>
    

</ul>